.form {
  width: 450px;
}
.update_form,
.job_form {
  width: 90%;
  margin: 10px auto;
}
.form a {
  color: #00000070;
  font-size: 13px;
  text-decoration: none;
}
.form input,
.update_form input,
.job_form input,
.update_form textarea {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 13px 2px;

  outline: none;
  border: 1px solid #fff;
  border: 1px solid #d3d2d2;
}
.update_form input {
  border: 1px solid #d3d2d2;
}
.update_form .location {
  display: flex;
}

.update_form textarea {
  resize: none;
}

.form button {
  display: block;
  width: 100%;
  color: #fff;
  padding: 12px;
  margin: 13px 0;
  border: none;
  background: #665df5;
}
.update_form .button,
.job_form .button {
  display: block;
  color: #fff;
  padding: 8px 12px;
  margin: 13px 0;
  border: none;
  text-align: center;
  min-width: 100px;
  background: #665df5;
}

.form input:focus {
  border: 0.2px solid #665df5;
  transition: 1px 2s ease-in border;
}
.update_form input:focus {
  transition: 200ms ease-in border;
  border: 0.2px solid #665df5;
}
.update_form input::placeholder,
.job_form input::placeholder,
.job_form select::placeholder,
.job_form textarea::placeholder,
.update_form textarea::placeholder {
  color: #adb5bd;
}

.job_form input[type="date"]::placeholder {
  color: #adb5bd;
}
.job_form select option#first {
  color: #34699e !important;
  background-color: red;
}

.input_file {
  border: none;
  color: rgb(95, 95, 95);
}
.input_file input label {
  border: none;
  color: #fff;
  border: none !important;
}

/*  JOB TEXTARE*/

.job_form textarea {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 13px 2px;
  outline: none;
  border: 1px solid #fff;
  border: 1px solid #d3d2d2;
  resize: vertical;
  height: 100px;
}
.job_form select {
  display: block;
  width: 100%;
  padding: 12px;
  margin: 13px 2px;
  outline: none;
  border: 1px solid #fff;
  border: 1px solid #d3d2d2;
  resize: vertical;
  background: #fff !important;
}

.job_form .salary_range {
  display: flex;
  margin: 0;
  justify-content: space-between;
  /* height: ; */
}
/* Errors */
.errors {
  font-size: 12px;
  color: red;
  text-align: left;
  margin-left: 2px;
}

.update_form input[type="file"] * {
  background: red;
}

.change_image {
  position: relative;
}

.change_image input {
  display: none;
}

.add_image {
  width: 20px;
  position: absolute;
  height: 20px;
  bottom: 19px;
  right: 15px;
  background: #fff;
  margin: auto;
  border-radius: 50%;
}

/* For auth */
@media screen and (max-width: 440px) {
  .form {
    width: 100%;
    padding: 15px;
  }
}

.stacks {
  width: 100%;
  padding: 4px;
}

button.google {
  background: #ffffff;
  display: flex;
  color: rgb(99, 99, 99);
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
button.google:hover {
  box-shadow: 0 0 3px #3e88ff56;
}
.google img {
  width: 20px;
  padding: 2px;
}
