.navigation {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  color: #665df5;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
}

.search {
  margin: 0 auto;
}

.search button,
.search input {
  padding: 9px 15px;
  outline: none;
  border: 0px solid #fff;
}
.search input {
  width: 400px;
  background: #fff;
  border: 1px solid #e3e3e3;
}
.search input:focus {
  border: 1px solid #665df5;
}
.search button {
  background: #665df5;
  color: #fff;
  border: 0px solid #fff;
  margin-right: 3px;
  padding: 10px 15px;
}

@media screen and (max-width: 440px) {
  .search input {
    width: 200px;
    padding: 8px;
  }
  .navigation {
    justify-content: space-between;
  }
  .search button {
    display: none;
  }
  .search {
    margin: 0;
  }
}
