.navigation {
  width: 100%;
  display: flex;
  align-items: center;
  padding-inline: 10px;
}

.logo img {
  width: 100px;
}

.search {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search button,
.search input {
  padding: 9px 15px;
  outline: none;
  border: 0px solid #fff;
}
.search input {
  width: 400px;
  background: #fff;
  border: 1px solid #e3e3e3;
}
.search input:focus {
  border: 1px solid #0070f3;
}
.search button {
  background: #0070f3;
  color: #fff;
  font-size: 13px;
  border: 0px solid #fff;
  margin-right: 3px;
  padding: 12px 15px;
}

@media screen and (max-width: 586px) {
  .search button {
    display: none;
  }
}

.title_input {
  /* width: 300px; */
  padding: 12px;
  margin: 13px 2px;
  outline: none;
  border: 1px solid #e3e3e3;
  user-select: none;
}
.title_input {
  background: #fff;
  padding: 12px;
  width: 350px;
  font-size: 13px;
  text-align: left;
  position: relative;
}
.title_input:hover div {
  display: block;
  z-index: 10;
}
.title_input .drop {
  display: flex;
  justify-content: space-between;
}
.title_input .drop > :first-child {
  width: 100%;
}

@media screen and (max-width: 440px) {
  .search input {
    width: 200px;
    padding: 8px;
  }
  .navigation {
    justify-content: space-between;
  }
  .search button {
    display: none;
  }
  .search {
    margin: 0;
  }
  .title_input {
    background: #fff;
    padding: 12px;
    width: 200px;
    font-size: 13px;
    text-align: left;
    position: relative;
  }
}
