.side_menu {
  width: 20%;
  height: 80vh;
  background: #fff;
  border: 1px solid #e3e3e3;

  padding-inline: 20px;
  color: #454343;
  position: relative;
}

.taps {
  list-style: none;
}

.tap a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  color: #454343;
}
.tap a {
  text-decoration: none;
  /* display: block; */
}

.tap img {
  margin-right: 20px;
  width: 20px;
}

.logout {
  border: none;
  background-color: red;
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
  border-radius: 10px;

  position: absolute;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
}
