.edit_job {
  height: calc(80vh - 10px);
  overflow-y: scroll;
}

.new_job {
  padding: 10px;
  height: calc(80vh - 10px);
  overflow-y: scroll;
}

.new_job input:focus,
.new_job textarea:focus,
.new_job select:focus {
  border: 0.2px solid #665df5;
  transition: 1px 2s ease-in border;
}

.edit_job input:focus,
.edit_job textarea:focus,
.edit_job select:focus {
  border: 0.2px solid #665df5;
  transition: 1px 2s ease-in border;
}

.edit_job {
  display: flex;
  justify-content: space-between;
}

.job {
  flex: 5;
}
.job + * {
  flex: 3;
}

.job h3,
.new_job h3 {
  width: 90%;
  margin: 10px auto;
}

.meta_data {
  margin-top: 45px;
}
.data {
  margin: 4px 0;
  padding: 4px 0;
  font-size: 14px;
}
.data h4 {
  font-weight: 500;
  color: #2e2e2e;
}
