.authentication {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.login_header img {
  width: 150px;
}
.login_header {
  text-align: center;
  width: 400px;
}

/* responsiveness */
@media screen and (max-width: 440px) {
  .login_header {
    text-align: center;
    width: 300px;
  }
}
