@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

html,
body {
  background: #eff3e1;
}

header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100px;
  padding-inline: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
}

.flex main {
  box-shadow: 0 0 4px 0 #00000010;
  display: relative;
  width: 77%;
  background: #fff;
}

hr {
  color: #00000010;
  border: 0.1px solid #00000020;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.containers header nav {
  display: flex;
  width: 100%;
  padding: 10px 9em;
  align-items: center;
  justify-content: space-between;
}
.containers header nav a {
  background: #ff6584;
  color: #fff;
  padding: 8px 30px;
  text-decoration: none;
}
.containers header nav h3 {
  color: #fff;
  font-weight: bold;
}

.containers .logo {
  background: none;
  color: #665df5;
  font-size: 20px;
  font-weight: 600;
}
