@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@300;500;600&family=Poppins:wght@200;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif !important;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

html,
body {
  background: #ececec;
}

header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 100px;
  padding-inline: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 80vh;
}

.flex main {
  border: 1px solid #e3e3e3;
  display: relative;
  width: 77%;
  background: #fff;
}

hr {
  color: #00000010;
  border: 0.1px solid #00000020;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button:disabled {
  transition: background-color 200ms ease-in;
  background-color: #cccccc !important;
  cursor: not-allowed;
  background-color: #cccccc;
  color: #666666;
}

.containers header nav {
  display: flex;
  width: 100%;
  padding: 10px 9em;
  align-items: center;
  justify-content: space-between;
}
.containers header nav a {
  background: #ff6584;
  color: #fff;
  padding: 8px 30px;
  text-decoration: none;
}
.containers header nav h3 {
  color: #fff;
  font-weight: bold;
}

.containers .logo {
  background: none;
  color: #665df5;
  font-size: 20px;
  font-weight: 600;
}

.active_company {
  border-left: 2px solid #ff6584;
}

@media screen and (max-width: 440px) {
  .containers header {
    width: 100vw;
  }
  .containers header nav {
    padding-inline: 0;
  }
  .containers header nav a {
    padding: 6px 10px;
  }
}
input,
select {
  background: #fff !important;
}
@media screen and (max-width: 440px) {
  .flex main {
    width: 100%;
  }
  .flex {
    margin: 0 0px;
    height: 85vh;
  }
}
.mantine-1qycoz3 {
  border-radius: 0px;
}

/* Loading */
.lds-ripple {
  display: block;
  position: relative;
  /* width: 100%; */
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #665df5;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
