.job {
  margin: 0 auto;
  display: flex;
  width: 76%;
}
.list_jobs {
  flex: 3;
  background: #fff;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #e3e3e3;
  padding-top: 20px;
  height: 80vh;
  overflow-y: scroll;
}
.list_jobs h5 {
  padding-left: 10px;
}
.list_job {
  padding: 4px;
  padding-left: 10px;
  margin: 5px 0;
  color: rgb(99, 99, 99);
}

.list_job h3 {
  font-size: 13px;
  font-weight: 500;
  color: #fa5979;
  cursor: pointer;
}

.list_job h3:hover {
  text-decoration: 2px underline #fa5979;
  border-width: 100%;
}

.list_job small {
  font-size: 10px;
}

.active_job {
  border-left: 3px solid #fa5979;
}

.list_job .fine_details small {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0dfdf;
  padding: 2px 5px;
  font-weight: 400;
  margin: 2px;
}
.job main {
  flex: 8;
}

.company_name {
  text-decoration: none;
  color: #ff6584;
}

.job_header,
.information {
  width: 100%;
  margin: 0 auto;
  padding: 2em 3em;
  background: #fff;
  border: 1px solid #e3e3e3;
}
.more_info {
  display: flex;
  flex-wrap: wrap;
}
.more_info p {
  flex: 4;
}
.information {
  margin: 10px auto;
  /* padding-right: 300px; */
}
.information p {
  margin: 10px 0;
  margin-top: 3px;
  font-size: 13px;
}

.information p ul {
  margin-left: 40px;
}

.apply_job {
  color: #fff;
  padding: 7px;
  outline: 0;
  font-size: 12px;
  display: inline-block;
  border: 0;
  background: #fa5979;
  border-radius: 20px;
  text-decoration: none;
}
.fine_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.fine_details .details {
  background-color: #f1eded;
  padding: 5px;
  margin: 0 15px 10px 0;
  font-size: 12px;
  display: inline;
  color: #000;
  display: flex;
  flex-direction: row;
}
.company img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.fine_details img {
  width: 15px;
  height: 15px;
}

.fine_details .details img {
  margin-right: 2px;
}

.company {
  display: flex;
}

.share {
  flex: 1;
  /* display: flex; */
  /* border: 1px solid #e3e3e3; */
  padding: 0 20px;
  margin: 10px 20px;
  height: 75px;
  color: rgb(99, 99, 99);
  width: 100%;
  /* flex-direction: row; */
}

.share img {
  padding-top: 4px;
  width: 20px;
  margin: 5px;
}

@media screen and (max-width: 860px) {
  .job_header {
    width: 100%;
    margin: 0px auto;
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 10px 2em;
  }
  .company {
    display: flex;
    flex-direction: column;
  }
  .more_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .company > img {
    width: 40px;
    height: 40px;
  }
  .information {
    width: 100%;
    margin-top: 10px;
    padding: 2em 2em;
    background: #fff;
    border: 1px solid #e3e3e3;
  }
  .share {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 720px) {
  .list_jobs {
    display: none;
  }
}
@media screen and (max-width: 422px) {
  .job {
    width: 100%;
  }
}
