.jobs {
  padding: 10px;
  overflow-y: scroll;
  height: calc(80vh - 10px);
}

.job_details,
.details {
  display: flex;
  align-items: center;
}

.details {
  background-color: #f1eded;
  padding: 2px;
  margin: 0 10px 10px 0;
  font-size: 10px;
}

.details img {
  width: 15px;
}

.job {
  display: flex;
  border: 1px solid #e3e3e3;
  padding: 15px;
  margin: 20px auto;
  width: 90%;
}

.menu {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
}

.company_img {
  margin: 10px 20px;
}

.company_img img {
  width: 50px;
}

.job_info {
  flex: 8;
  position: relative;
}

.job_info .desc > * {
  display: block;
  padding-right: 300px;
  color: rgb(77, 74, 74);
  font-size: 12.5px;
}

.job_info h4 a {
  color: #ff6584;
}

.job_info p {
  color: #665df5;
}

.menu_container:hover > .show_menu {
  display: flex;
}

.show_menu {
  position: absolute;
  top: 30px;
  right: 13px;
  width: 150px;
  background: #665df5;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 10px;
  display: none;
  box-shadow: 0 0 4px 0 #aa797980;
}

.show_menu .menu {
  display: block !important;
}

.show_menu a {
  color: #ffff;
  font-size: 10px;
  text-decoration: none;
  padding: 3px;
}

.show_menu a:hover {
  background: #d0cbcb48;
}

.show_menu button {
  background: inherit;
  font-size: 11px;
  border: none;
  color: red;
  text-align: left;
  text-decoration: none;
  padding-left: 4px;
  margin: 3px 0;
}

.options {
  width: 90%;
  margin: 0 auto;
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options a {
  background: #665df5;
  color: #fff;
  border: 0;
  text-decoration: none;
  height: 30px;
  padding-inline: 15px;
  display: flex;
  align-items: center;
}

.options a img {
  width: 12px;
}

.options select {
  outline: none;
  height: 30px;
  border: 1px solid #e3e3e3;
  color: #626262;
}

@media screen and (max-width: 649px) {
  .job_info .desc * {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .job_info .desc * {
    padding-right: 40px;
  }
}
