.jobs {
  /* min-height: 80vh; */
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.searches {
  display: flex;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  padding: 0em 0 0em;
  position: sticky;
  top: 0;
  background: #ececec;
  z-index: 3;
}
.searches button {
  background: #665df5;
  border: none;
  outline: none;
  height: 46px;
  margin-left: 2px;
  width: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.searches button img {
  width: 17px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.location_input,
.title_input {
  width: 300px;
  padding: 12px;
  margin: 13px 2px;
  outline: none;
  border: 1px solid #e3e3e3;
}

.results {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.filter {
  flex: 2;
  width: 250px;
  background: #fff;
  margin-right: 10px;
  position: sticky;
  top: 100px;
  border: 1px solid #e3e3e3;
}

.filter label {
  position: relative;
  padding-left: 25px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.filter input[type="radio"] {
  position: absolute;
  top: 3px;
  left: 0;
  width: 0;
  height: 0;
}
.filter input[type="radio"]:checked::before {
  content: "";
  width: 7px;

  height: 7px;
  border-radius: 50%;
  color: #665df5;
  background: #fff;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #665df5;
}
.filter input[type="radio"]::before {
  display: inline-block;
  transition: border ease-in-out 200ms;
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  color: #665df5;
  background: #fff;
  z-index: 2;
  border: 4px solid #e3e3e8;
}

.filter button {
  background: #665df5;
  cursor: pointer;
  width: 100%;
  margin: 10px auto;
  color: #fff;
  border: none;
  padding: 10px;
}
.jobs .smalls {
  position: sticky;
  top: 70px;
  width: 90%;
  margin: 0 auto;
}
.jobs .filter {
  position: sticky;
  top: 90px;
  max-height: 70vh;
}
.available_jobs {
  flex: 10;
}

/* responsiveness */
@media screen and (max-width: 440px) {
  .jobs {
    padding: 0;
  }
  .searches {
    width: 90%;
    /* padding-inline: 20px; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .searches input {
    width: 100%;
    padding: 8px 4px;
  }
  .searches button {
    display: none;
  }
  .smalls {
    display: none;
  }
}

@media screen and (max-width: 649px) {
  .jobs {
    padding-inline: 0px;
  }
  .filter {
    display: none;
  }
}

.saved_jobs {
  width: 90%;
  margin: 0 auto;
}

.saved h4 {
  font-size: 20px;
  color: #665df5;
  width: 100%;
}
.saved {
  width: 70%;
  margin: 0 auto;
}

.saved h4 span {
  text-align: center;
  font-weight: 800;
  color: #ff6584;
  padding-bottom: 10px;
  text-decoration: underline;
}

.saved input {
  width: 350px;
  padding: 5px;
  display: block;
  padding: 7px;
  margin: 13px 2px;

  outline: none;
  border: 1px solid #e3e3e3;
}

@media screen and (max-width: 649px) {
  .saved_jobs {
    width: 100%;
    margin: 0 auto;
  }
  .saved {
    width: 90%;
  }
  .saved input {
    width: 100%;
    margin: 13px 0px;
  }
}
