.jobs {
  /* min-height: 80vh; */
  padding: 0 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.searches {
  display: flex;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  padding: 0em 0 0em;
  position: sticky;
  top: 0;
  background: #ececec;
  z-index: 3;
}
.searches button {
  background: #665df5;
  border: none;
  outline: none;
  height: 46px;
  margin-left: 2px;
  width: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.searches button img {
  width: 17px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.location_input,
.title_input {
  width: 300px;
  padding: 12px;
  margin: 13px 2px;
  outline: none;
  border: 1px solid #fff;
  box-shadow: 0 0 4px 0 #00000030;
}

.location_input {
  /* padding-left: 05px; */
  /* background: url("/public/assets/delete.png"); */
  /* background-size: 20px; */
}
.results {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}

.filter {
  flex: 2;
  width: 250px;
  box-shadow: 0 0 4px 0 #00000030;
  background: #fff;
  margin-right: 10px;
  position: sticky;
  top: 100px;
  /* height: 60vh; */
}
.jobs .smalls {
  position: sticky;
  top: 70px;
  width: 90%;
  margin: 0 auto;
}
.jobs .filter {
  position: sticky;
  top: 90px;
  height: 70vh;
}
.available_jobs {
  flex: 10;
}

/* responsiveness */
@media screen and (max-width: 440px) {
  .jobs {
    padding: 0;
  }
  .searches {
    width: 100%;
    padding-inline: 20px;
  }
  .searches input {
    width: 160px;
    padding: 8px 4px;
  }
  .searches button {
    display: none;
  }
  .smalls {
    display: none;
  }
}

@media screen and (max-width: 649px) {
  .jobs {
    padding-inline: 0px;
  }
  .filter {
    display: none;
  }
}
